@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./Fonts/Roboto-Bold.ttf') format('truetype');
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* body {
  font-family: 'Roboto-Bold';
} */

.swiper-pagination {
  text-align: center !important;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: blue !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  background: url('/public/assets/Banner/leftArrow.png') no-repeat;
}

.swiper-button-next {
  background: url('/public/assets/Banner/rightArrow.png') no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  background-size: 150% auto;
  background-position: top;
}
